*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.project
.settings/
/app/.classpath
/app/.settings/
android/.classpath
/buildSrc/.gradle
/buildSrc/build
/customplugin3/build
/repo
/asmplugin/build
/android/.cxx